<section class="interviewpost-detail">
    <div class="interviewpost-detail__txt">
        <h2>理学部の学生の就活支援を行っているそうですね。</h2>
        <p>専門はプラズマ理工学という分野の研究なのですが、2009年から物理学科の就職担当をすることになりました。2015年からは理学部全体の就職担当をしています。</p>
    </div>
    <div class="interviewpost-detail__txt">
        <h2>前原先生は理系の先生の中でも、特に就活の支援に力を入れていますね。</h2>
        <p>私の学生時代はバブルの頃で、周りの友人達を見ていても就活に苦労している人はいませんでした。しかし、95年に愛媛大学に勤め始めてから学生の就活を見ていると、後に就職氷河期世代と言われる学生たちはなかなか内定がもらえない状況にありました。
        </p>
    </div>
    <div class="interviewpost-detail__txt interviewpost-detail__txt--noheader">
        <p>そんな厳しい環境におかれている学生達を見ていて、自分も何か力になれればという思いをずっと持っていました。今は学生達を支援してあげられる立場になったので積極的にサポートできればと思っています。</p>
    </div>
    <div class="interviewpost-detail__txt">
        <h2>具体的なキャリア支援の方法は</h2>
        <p>私が主催している大きなイベントとしては、年に3回(5月.11月.1月)に3年生と院1年生を対象とした就職ガイダンスを行っています。時期によって内容は変わりますが、就活サイトの方などを講師としてお呼びして、就職活動の始め方から、インターンシップへの参加意義などを伝えています。
        </p>
    </div>
    <div class="interviewpost-detail__txt interviewpost-detail__txt--noheader">
        <p>人数は学部生と院生を合わせて1回につき約130人程度が参加してくれています。大学院に進学する学生を除くと、就職する理学部の学生の多くが参加しています。また、その就職ガイダンスの中で県内企業を学生に多く知ってもらおうと思い、昨年に県内の優良企業51社の情報をまとめた冊子も作成しました。
        </p>
    </div>
    <div class="interviewpost-detail__txt interviewpost-detail__txt--noheader">
        <p>冊子は参加学生全員に配っています。他にも定期的に少人数での企業研究会を行っています。実際に企業の方に来て頂いて、業界のことを話してもらったりしています。その他にも、随時学生からの相談を受け付けており、ふらっと私の研究室に立ち寄って相談に来る学生も多いですよ。
        </p>
    </div>
    <div class="interviewpost-detail__img">
        <img src="./assets/img/interviewpost/interview-1.jpg" alt="">
    </div>
    <div class="interviewpost-detail__txt">
        <h2>学生の就活状況は？</h2>
        <p>理学部の学生は県外出身者も多いので、地元に帰って就職する学生から、県内で就職を希望する学生まで様々です。就活解禁前の段階で、志望企業や志望業界は絞っていなくても、県内で就職するか、または県外で就職するかなどを決めている学生は多いです。
        </p>
    </div>
    <div class="interviewpost-detail__txt">
        <h2>売り手市場と言われる中で企業の変化は感じますか？</h2>
        <p>企業としても人材確保のために労力を注いでいるのがわかります。ただ、どちらかといえば県外企業の人事担当者さんの方が積極的だと感じています。<br>
            県内・県外企業の求人票は卒業生の就職先を中心に多く送られてくるのですが、特に県外の大手企業から積極的に求人票が送られてきます。中には、求人票を持って県外から直接来られる企業さんもありますね。
        </p>
    </div>
    <div class="interviewpost-detail__txt interviewpost-detail__txt--noheader">
        <p>さらに、OB・OG訪問の依頼も多くあります。求人票の数も県外企業さんの方が多いので、県内企業さんも募集をされていれば求人票だけでも送ってもらいたいと思っています。</p>
    </div>
    <div class="interviewpost-detail__img">
        <img src="./assets/img/interviewpost/interview-3.jpg" alt="">
    </div>
    <div class="interviewpost-detail__txt">
        <h2>学生からはどういった相談を受けることがありますか？</h2>
        <p>自己分析や企業研究といった就活解禁前に行っていることから、複数の企業から内定をもらった学生に就職先を一緒に選んでほしいという相談まで様々です。エントリーシートはどう書いたらいいかということなど多くの学生からいろいろ聞かれています（笑）。
        </p>
    </div>
    <div class="interviewpost-detail__txt">
        <h2>学生に対してのどういったアドバイスをするのですか？</h2>
        <p>企業研究をしっかりとしてほしいと伝えています。<br>
            今の売り手市場といわれる就活状況では内定をもらえる学生は増えています。しかし、内定をもらってから急に不安になる学生も多くいます。
        </p>
    </div>
    <div class="interviewpost-detail__txt interviewpost-detail__txt--noheader">
        <p>最近は、4年生の夏頃に本当にこの会社に入社していいのだろうかと相談をうけることが増えてきました。内定をもらってから悩まないためにも、学生にはじっくりと企業研究を行ってもらいたいと思っています。実際には入社してみないとわからないことは多いですが、どんな企業があるか多く知っているだけでも違うと思います。
        </p>
    </div>
    <div class="interviewpost-detail__txt interviewpost-detail__txt--noheader">
        <p>今の就活スケジュールで考えると、3年生の12月からは企業研究を進めてほしいと思っています。すでに就職活動中の学生には、多くの会社説明会に参加するなど企業から話を聞く機会を増やしてもらいたいですね。</p>
    </div>
    <div class="interviewpost-detail__img">
        <img src="./assets/img/interviewpost/interview-2.jpg" alt="">
    </div>

    <div class="interviewpost-detail__social">
        <p>この記事をシェア</p>
        <div class="intervewpost-overview__box">
            <a href="#" target="_blank" class="interviewpost-detail__fb">FACEBOOK</a>
            <a href="#" target="_blank" class="interviewpost-detail__tw">TWITTER</a>
            <a href="#" target="_blank" class="interviewpost-detail__line">LINE</a>
        </div>
    </div>
    <a href="/" class="c-listbtn c-listbtn--reverse">インタビュー一覧に戻る</a>

</section>