<section class="c-subpagemainvisual c-interviewpostmv">
    <div class="c-mainvisual__wrapper">
      <div class="c-mainvisual__inner">
        <h1 class="c-mainvisual__title">INTERVIEW</h1>
        <p class="c-mainvisual__subtitle">インタビュー一覧</p>
      </div>
    </div>
  </section>