<section class="interviewpost-overview">
    <div class="l-container">
        <div class="c-breadcrumb">
            <a href="/" class="c-breadcrumb__home">ホーム</a>
            <span class="c-breadcrumb__arrow">></span>
            <a href="../../interview.html" class="c-breadcrumb__home">インタビュー一覧</a>
            <span class="c-breadcrumb__arrow">></span>
            <span class="c-breadcrumb__current">就活には業界研究を 愛媛県の企業冊子を作成</span>
        </div>
    </div>
    <div class="interviewpost-overview__content">
        <img src="./assets/img/interviewpost/overview.jpg " alt="就活には業界研究を 愛媛県の企業冊子を作成" class="interviewpost-overview__img">
        <div class="interviewpost-overview__info">
            <div class="intervewpost-overview__datecat">
                <p class="intervewpost-overview__date">2019.03.14</p>
                <a href="#" class="intervewpost-overview__cat">経営者インタビュー</a>
            </div>
            <h2 class="interviewpost-overview__title">就活には業界研究を<br class="u-breakline--pc">愛媛県の企業冊子を作成</h2>
            <div class="interviewpost-overview__profile">
                <p class="interviewpost-overview__position">愛媛大学理学部物理学科　教授</p>
                <h2 class="interviewpost-overview__name">前原　常弘さん</h2>
                <p class="interviewpost-overview__born">博士(理学)　大阪府出身</p>
                <p  class="interviewpost-overview__email">E-mail : example@gmail.com</p>
            </div>
        </div>
    </div>
</section>