<section class="c-subpagemainvisual c-interviewmainvisual">
    <div class="c-mainvisual__wrapper">
        <div class="c-mainvisual__inner">
            <h1 class="c-mainvisual__title">CORPORATE INFORMATION</h1>
            <p class="c-mainvisual__subtitle">企業一覧</p>
        </div>
    </div>
</section>