<section class="companypost-info l-container">
    <div class="companypost-info__data">
        <p class="companypost-info__datatag">企業DATA</p>
        <div class="companypost-info__detail">
            <p class="companypost-info__name">株式会社悠遊社</p>
            <p class="companypost-info__url">
                <a class="companypost-info__urlcontent" href="#" target="_blank">http://www.yuyusya.co.jp/</a>
            </p>
            <dl class="companypost-info__list">
                <div class="companypost-info__item companypost-info__item--w50">
                    <dt class="companypost-info__itemtag">本社</dt>
                    <dd class="companypost-info__itemtext">愛媛県松山市余戸南二丁目24-38</dd>
                </div>
                <div class="companypost-info__item">
                    <dt class="companypost-info__itemtag">TEL</dt>
                    <dd class="companypost-info__itemtext">
                        <a href="tel:089-965-1990" class="companypost-info__tel">089-965-1990</a>
                    </dd>
                </div>
                <div class="companypost-info__item companypost-info__item--w20">
                    <dt class="companypost-info__itemtag">設立</dt>
                    <dd class="companypost-info__itemtext">1999年12月</dd>
                </div>
                <div class="companypost-info__item companypost-info__item--w50">
                    <dt class="companypost-info__itemtag">従業員数</dt>
                    <dd class="companypost-info__itemtext">500名</dd>
                </div>
                <div class="companypost-info__item companypost-info__item--w50">
                    <dt class="companypost-info__itemtag">代表者</dt>
                    <dd class="companypost-info__itemtext">代表取締役 寺河 駿</dd>
                </div>
                <div class="companypost-info__item companypost-info__item--w100">
                    <dt class="companypost-info__itemtag">事業内容 </dt>
                    <dd class="companypost-info__itemtext">介護保険法、障害者自立支援法に関する各種事業の運営</dd>
                </div>
            </dl>
            <dl class="companypos-info__archivement">
                <dt class="companypos-info__archivementtag">新卒採用実績</dt>
                <dd class="companypos-info__archivementtext">2016年度 2人／2017年度 4人／2018年度 2人</dd>
            </dl>
        </div>
    </div>

    <div class="companypost-info__content">
        <div class="conpanypost-info__strength">
            <div class="companypost-info__heading">
                <h2 class="companypost-info__title">会社のココが良い！</h2>
            </div>
            <div class="companypost-info__strengthcontent">
                <div class="companypost-info__text">
                    <h3>女性が働きやすい職場環境</h3>
                    <p>業務の優先順位付けとスケジュール管理の強化により所定労働時間の削減に努めている。また育児短時間勤務の対象を法律の規定よりも広い「小学校就学まで」とし、仕事と家庭の両立を支援し、女性従業員の定着率向上に繋げている。
                    </p>
                </div>
                <div class="companypost-info__text">
                    <h3>介護資格の取得サポート</h3>
                    <p>入社時の介護資格の有無は問わない。入社後に会社が費用を負担し、資格取得をサポートする体制が整っている。</p>
                </div>
            </div>
        </div>
        <div class="companypost-info__service">
            <div class="companypost-info__heading">
                <h2 class="companypost-info__title">我が社の サービス</h2>
            </div>
            <div class="companypost-info__servicecontent">
                <div class="companypost-info__box">
                    <img src="./assets/img/companypost/dummy-service.jpg" alt="認定こども園「ジャックと豆の木園」">
                    <div class="companypost-info__text">
                        <h3>認定こども園「ジャックと豆の木園」</h3>
                        <p class="companypost-info__text--small">グループで認定こども園の運営も行い、地域の子どもたちを支えている。</p>
                    </div>
                </div>
                <div class="companypost-info__box">
                    <img src="./assets/img/companypost/dummy-service.jpg" alt="認定こども園「ジャックと豆の木園」">
                    <div class="companypost-info__text">
                        <h3>認定こども園「ジャックと豆の木園」</h3>
                        <p class="companypost-info__text--small">グループで認定こども園の運営も行い、地域の子どもたちを支えている。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>