<section class="companypost-other">
    <div class="companypost-other__container">
        <h2 class="companypost-other__title">他の企業を探す</h2>
        <div class="companypost-other__list">
            <a href="../../company-single.html" class="c-card">
                <img src="./assets/img/companypost/other1.jpg" alt="やまと印刷株式会社" class="c-card__img">
                <div class="c-card__body">
                    <div class="c-card__content">
                        <h2 class="c-card__title">やまと印刷株式会社</h2>
                        <p class="c-card__subtitle">愛媛県四国中央市</p>
                        <p class="c-card__description">やりたいことを汲んでくれるから<br>
                            精一杯いろいろなことに挑戦できる</p>
                        <span class="c-card__tag">印刷</span>
                    </div>
                    <img src="./assets/img/cardicon.png" alt="card icon">
                </div>
            </a>
            <a href="../../company-single.html" class="c-card">
                <img src="./assets/img/companypost/other2.jpg" alt="北辰会グループ" class="c-card__img">
                <div class="c-card__body">
                    <div class="c-card__content">
                        <h2 class="c-card__title">北辰会グループ</h2>
                        <p class="c-card__subtitle">愛媛県西条市</p>
                        <p class="c-card__description">コミュニケーションでつながり深める<br>
                            「気づき」を成長の原動力に</p>
                        <span class="c-card__tag">介護・福祉</span>
                    </div>
                    <img src="./assets/img/cardicon.png" alt="card icon">
                </div>
            </a>
            <a href="../../company-single.html" class="c-card">
                <img src="./assets/img/companypost/other3.jpg" alt="株式会社フロントエンド" class="c-card__img">
                <div class="c-card__body">
                    <div class="c-card__content">
                        <h2 class="c-card__title">株式会社フロントエンド</h2>
                        <p class="c-card__subtitle">愛媛県四国中央市</p>
                        <p class="c-card__description">その会社で何をするのかより、<br>
                            誰と一緒に働きたいかで選んだ</p>
                        <span class="c-card__tag">ソフトウェア</span>
                    </div>
                    <img src="./assets/img/cardicon.png" alt="card icon">
                </div>
            </a>
        </div>
        <a href="/" class="c-listbtn">企業一覧はこちら</a>
    </div>
</section>