<section class="companypost-relative">
    <div class="l-container">
        <h2 class="companypost-relative__title">関連記事</h2>
        <p class="companypost-relative__subtitle">この企業に関連する記事のご紹介です。</p>

        <div class="companypost-relative__list">
            <div class="companypost-relative__item">
                <div class="companypost-relative__inner">
                    <img src="./assets/img/companypost/dummy-relative.png" alt="テキストテキストテキストテキストテキストテキスト">
                    <div class="companypost-relative__itembody">
                        <h3 class="companypost-relative__itemtitle">テキストテキストテキストテキストテキストテキスト</h3>
                        <p class="companypost-relative__itemsubtitle">株式会社悠遊社</p>
                    </div>
                </div>
            </div>
            <div class="companypost-relative__item">
                <div class="companypost-relative__inner">
                    <img src="./assets/img/companypost/dummy-relative.png" alt="テキストテキストテキストテキストテキストテキスト">
                    <div class="companypost-relative__itembody">
                        <h3 class="companypost-relative__itemtitle">テキストテキストテキストテキストテキストテキスト</h3>
                        <p class="companypost-relative__itemsubtitle">株式会社悠遊社</p>
                    </div>
                </div>
            </div>
            <div class="companypost-relative__item">
                <div class="companypost-relative__inner">
                    <img src="./assets/img/companypost/dummy-relative.png" alt="テキストテキストテキストテキストテキストテキスト">
                    <div class="companypost-relative__itembody">
                        <h3 class="companypost-relative__itemtitle">テキストテキストテキストテキストテキストテキスト</h3>
                        <p class="companypost-relative__itemsubtitle">株式会社悠遊社</p>
                    </div>
                </div>
            </div>
            <div class="companypost-relative__item">
                <div class="companypost-relative__inner">
                    <img src="./assets/img/companypost/dummy-relative.png" alt="テキストテキストテキストテキストテキストテキスト">
                    <div class="companypost-relative__itembody">
                        <h3 class="companypost-relative__itemtitle">テキストテキストテキストテキストテキストテキスト</h3>
                        <p class="companypost-relative__itemsubtitle">株式会社悠遊社</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>