.c-ehimework {
    margin-top: 120px;
    padding-bottom: 2px;
    background: #f8b616;
    @include sp {
        margin-top: 79px;
        padding-bottom: 37px;
    }

    .c-ehimework__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 8px;
        width: 95%;
        position: relative;
        @include sp {
            width: 100%;
            flex-direction: column;
            flex-flow: wrap;
        }
    }

    .c-ehimework__title {
        color: #000;
        font-size: 1.7rem;
        font-weight: 400;
        font-feature-settings: "palt";
        margin-bottom: 46px;
        @include sp {
            font-size: 1.3rem;
            margin-top: 9.8%;
            margin-bottom: 22px;
        }
    }

    .c-ehimework__img {
        width: 31.1%;
        max-height: 398px;
        min-height: auto;
        height: auto;
        object-fit: cover;
        @include sp {
            width: 50%;
            display: inline-flex;
            flex-wrap: nowrap;
            order: 1;
            object-fit: contain;
        }
    }

    .c-ehimework__middle {
        width: 36%;
        text-align: center;
        padding-top: 14%;
        @include sp {
            width: 100%;
        }
    }

    .c-ehimework__bookimg {
        position: absolute;
        width: 45.15%;
        top: -65px;
        left: 50%;
        transform: translateX(-50%);
        @include sp {
            width: 77.9%;
            top: -33px;
            left: 50.4%;
            max-width: 486px;
        }
    }
}
