.c-card {
    max-width: 330px;
    width: 28.44827586206897%;
    margin: 50px 15px;
    @include tab {
        width: unset;
        margin: 25px 8px;
    }
    @include sp {
        width: unset;
        margin: 25px 8px;
    }

    .c-card__head {
        position: relative;
    }

    .c-card__floattag {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #fff;
        color: #00ada0;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 4px 8px;
        letter-spacing: 0.015em;
        font-feature-settings: "palt" 1;
        @include sp {
            font-size: 1.2rem;
            padding: 2px 4px;
        }
    }

    .c-card__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .c-card__content {
        padding-top: 15px;
        @include sp {
            padding-top: 8px;
        }
    }
    .c-card__title {
        font-size: 1.8rem;
        font-feature-settings: "palt" 1;
        &.c-card__title--small {
            font-size: 1.6rem;
            margin-right: 8px;
        }
        @include sp {
            font-size: 1.6rem;
            &.c-card__title--small {
                font-size: 1.4rem;
                margin-right: 4px;
            }
        }
    }
    .c-card__subtitle {
        font-size: 1.2rem;
        &.c-card__subtitle--large {
            font-size: 1.4rem;
            margin-top: 10px;
            font-feature-settings: "palt" 1;
            @include sp {
                font-size: 1.2rem;
                margin-top: 5px;
            }
        }
    }
    .c-card__description {
        font-size: 1.4rem;
        font-weight: 700;
        font-feature-settings: "palt" 1;
        margin-top: 10px;
        color: #00ada0;
        line-height: 1.7;
        @include sp {
            margin-top: 5px;
        }
    }
    .c-card__tag {
        display: inline-block;
        font-size: 1.2rem;
        margin-top: 25px;
        background: #ccc;
        padding: 1px 9px;
        border-radius: 10px;
        font-feature-settings: "palt" 1;
        @include sp { 
            margin-top: 13px;
        }
    }
}


