.c-breadcrumb {
    padding: 25px 0 27px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    @include tab {
        width: 96%;
        margin: 0 auto;
    }
    @include sp {
        padding: 20px 0 15px;
    }

    .c-breadcrumb__home {
        font-size: 1.3rem;
        color: #00ada0;
        font-weight: 400;
        border-bottom: 1px solid #00ada0;
        padding-bottom: 3px;
        margin-bottom: 5px;
        display: inline-block;
    }

    .c-breadcrumb__arrow {
        padding: 0 12px;
        margin-bottom: 5px;
        display: inline-block;
    }

    .c-breadcrumb__current {
        font-size: 1.3rem;
        color: #000;
        font-weight: 400;
        font-feature-settings: "palt";
        margin-bottom: 5px;
        display: inline-block;
    }
}
