$base-width: 1000px;

$main-font: "Noto Sans JP", sans-serif;
$kozuka: "Kozuka Gothic Pr6N", sans-serif;
@font-face {
    font-family: Kozuka Gothic Pr6N;
    src: url("./assets/font/KozGoPr6N-Regular.otf");
}
