  <section class="c-subpagemainvisual c-contactmainvisual ">
    <div class="c-mainvisual__wrapper">
        <div class="c-mainvisual__inner">
          <h2 class="c-mainvisual__title">CONTACT</h2>
          <p class="c-mainvisual__subtitle">お問い合わせ</p>
        </div>
      </div>
  </section>
