  <section class="c-subpagemainvisual c-aboutmainvisual">
    <div class="c-mainvisual__wrapper">
        <div class="c-mainvisual__inner">
          <h2 class="c-mainvisual__title">ABOUT</h2>
          <p class="c-mainvisual__subtitle">愛媛シゴト図鑑とは</p>
        </div>
      </div>
  </section>
